<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: frgHead">
<!-- <script th:src="@{/js/reportes/usuarioTipoMes.js}"></script> -->
</head>

<body style="background: url(/img/bg-masthead.jpg) no-repeat center center; background-size: cover;">
	<div id="wrapper">
	<nav th:replace="layout :: frgNav"></nav>

		<div id="content-wrapper" class="d-flex flex-column">

			<div id="content">

				<!-- Begin Page Content -->
				<div class="container-fluid">

					<!-- Page Heading -->
					
					
					
					<div
						class="row justify-content-around">
						<div class="col-2">
						</div>
						<div class="col-8 card o-hidden border-0 shadow-lg my-5">
						<div class="row d-sm-flex align-items-center justify-content-around mb-4 mt-5">
						<h1 th:text="${title}" class="h3 mb-0 text-gray-800"></h1>
						<a class="btn btn-sm btn-success"
									th:href="@{/usuario/list}">Regresar</a>
						</div>
	
						<hr />
						<canvas id="canvas"></canvas>
						</div>
						<div class="col-2">
						</div>
					</div>
					




				</div>
				<!-- /.container-fluid -->

			</div>

			

		</div>

	</div>

	<footer th:replace="layout :: frgFooter"></footer>
	<div th:replace="layout :: frgScripts"></div>
	<script th:src="@{/js/usuario/delete-usuario.js}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script>
	$.getJSON('https://time2drink.com/rgbector/apis/repTipoUsuarioMes.php', function(data) {
        
	var color = Chart.helpers.color;
var jsonfile = data;

var labels = jsonfile.jsonarray.map(function(e) {
   return e.mes;
});
var data = jsonfile.jsonarray.map(function(e) {
   return e.cliente;
});
var data1 = jsonfile.jsonarray.map(function(e) {
   return e.diseniador;
});


var ctx = canvas.getContext('2d');
var config = {
   type: 'bar',
   options:{
			responsive: true,
			legend: {
				position: 'top',
			},
			title: {
				display: true,
				text: 'Usuarios por tipo usuario y agrupados por mes'
			},
			scales: {
		        yAxes: [{
		            ticks:{
						beginAtZero: true
					}
		        }]
		    }
		},
   data: {
      labels: labels,
      datasets: [{
         label: 'Cliente',
         data: data,
         backgroundColor: color(getRandomColor()).alpha(0.5).rgbString()
      },
	  {
         label: 'Dise\361ador',
         data: data1,
         backgroundColor: color(getRandomColor()).alpha(0.5).rgbString()
      }
	  ]
   }
};
function getRandomColor() {
	  var letters = '0123456789ABCDEF';
	  var color = '#';
	  for (var i = 0; i < 6; i++) {
	    color += letters[Math.floor(Math.random() * 16)];
	  }
	  return color;
	}

var chart = new Chart(ctx, config);

    });
</script>
	
</body>
</html>


